.header{
    text-align: center;
    background-color: bisque;
}

.body{
    border: 1px solid black;
    border-radius: 7px;
}
.question-btn{
    
    margin-left: 480px;
    margin-top: -330px;
    
}
.question-btn2{
    margin-left: 410px;
    margin-top: -300px;
}


.answer-btn{
    margin-left: 410px;
    margin-top: -95px;
}